@model IEnumerable<MvcPeliculasApiAWS.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas AWS</h1>


<a class="btn btn-outline-secondary" asp-controller="Peliculas" asp-action="Create">Crear</a>

<form method="post">
    <label class="form-label">Busca pelicula con su actor</label>
    <input class="form-control" type="text" name="actor" />

    <button class="btn btn-outline-success">Buscar</button>
</form>

<table class="table table-bordered table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Argumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Argumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-controller="Peliculas" asp-action="Details"
                       asp-route-id="@item.IdPelicula">
                        <img src="~/images/@item.Foto" width="170" height="170" />
                    </a>

                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Peliculas" asp-action="Edit"
                       asp-route-id="@item.IdPelicula">Editar</a>

                    <a class="btn btn-danger" asp-controller="Peliculas" asp-action="Delete"
                       asp-route-id="@item.IdPelicula">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
